.App {
  /* text-align: center; */
}

.CCInput {
  display: block;
  margin-inline: auto;
  margin-top: 50px;
  align-items: center;
  padding: 40px;
}

.FCStudentList {
  width: 350px !important;
  display: block;
  margin-inline: auto;
  margin-top: 50px;
  align-items: center;
  padding: 40px;
  border: solid 1px #cccccc;
  border-radius: 8px;
}